.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.circle img {
  width: 100%;
  height: auto;
}
.team-member {
  text-align: center;
  margin-top: 20px;
}
.team-box {
  background-color: #1e1e1e;
  border: 2px solid #2a2a2a;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  width: 300px;
  margin: 0 auto;
  padding: 1rem;
}

.about-container {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}
.about-container h2 {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
}
.about-container p {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  line-height: 1.6;
}

.content-container {
  padding-bottom: 100px;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #ffffff;
  display: inline-block;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  color: #007bff;
  transform: translateY(-5px);
}
