body {
  scroll-behavior: smooth;
  background-color: #697565;
  color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  transition: background-color 0.5s;
}
.navbar {
  padding: 0.5rem 1rem;
  background-color: rgba(24, 28, 20, 0.75);
}

.navbar-brand,
.nav-link {
  /* Change the color depending on the background color */
  color: #fff !important;
  transition: color 0.2s;
  position: relative;
  padding: 10px 15px;
}

.nav-link:hover {
  color: #fff;
  border-bottom: 2px solid #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container h1 {
  color: #ffffff;
}

.navbar-nav {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-right: 4em;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  transition: transform 0.5s;
  margin: 1rem;
  background-size: auto;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* hove logo */
.logo:hover {
  transform: rotate(360deg);
  transition: transform 0.5s;
  border: 2px solid #f0a500;
}

button {
  background-color: #f0a500;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 1rem;
}

.footer {
  transition: opacity 0.5s;
  opacity: 1;
}
.footer.hidden {
  opacity: 0;
}
